<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>
    <h1>The home page

    </h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Commodi aut necessitatibus velit tempore, cumque facilis quisquam iste. Dolor repudiandae hic voluptatem sint, nesciunt deserunt harum, sequi officia quam beatae officiis.</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatum quia quisquam quam vero consectetur odit blanditiis optio ullam, iure cumque beatae quis iusto officia ab accusamus eius magni minus cupiditate.</p>
</body>

</html>