<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New product</title>
</head>

<body>
    <h1>Add a new product</h1>
    <form action="/products" method="POST">
        <label for="name">Product Name</label>
        <input type="text" name="name" id="name" placeholder="Enter a product name">

        <label for="price">Price</label>
        <input type="number" name="price" id="price" placeholder="Enter the pirce">

        <label for="category">Select Category</label>
        <select name="category" id="category">
            <option value="fruit">fruit</option>
            <option value="vegetable">vegetable</option>
            <option value="dairy">dairy</option>
        </select >
        <button>Add product</button>
    </form>
</body>

</html>